.layout{
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    grid-template-rows: auto auto 1fr auto;
}

.nav{
    grid-area: nav;
    background-color: #1800ad;
    display: flex;
    justify-content: center;
}

.nav ul{
    list-style: none;
}

.nav img{
    width: 50px;
    height: 50px;
}

.main{
    grid-area: main;
    background-color: #f6f1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main img{
    width: 1000px;
    height: 350px;
    display: flex;
    align-content: center;
    margin-top: 10px;
}

.content-productos{
    gap: 150px;
    display: flex;
}

.content-productos img{
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.producto-mostrar{
    background: #f2c5d6;
    border-radius: 10%;
    text-decoration: none;
    margin-left: 80px;
    padding: 20px;
}

.text-under h2{
    display: flex;
    justify-content: center;
}


.footer{
    grid-area: footer;
    background-color: #1800ad
}